.hero-container{
    background-image:url(../../image/abdominal-exercise-abdominal-trainer-action-416747@2X\(1\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-color: black;
}
section.section-hero{
    margin-bottom: 0px;
}
.text-block{
    padding:48px 470px 38px 26px;
}
.hero-title{
    margin:0;
    color: #ffffff;
    font-family: "Arial";
    font-size: 30px;
    font-weight: bold;
    line-height: 14px;
}
.hero-subtitle{
    color: #c9c7c7;
    font-family: "Arial";
    font-size: 18px;
    font-weight: bold;
    line-height: 14px;
    margin-top:7px;
}