.nav-container{
    flex-direction: row;
    background-color:#ff1744;
    padding: 12px 0;
    flex-wrap: nowrap;
}
.reserve-place{
    flex-basis: 263px;
    flex-shrink: 0;
}
.main-menu{
    display: flex;
    flex-grow: 1;
}
.main-menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 0;
}
.menu-item{
    list-style: none;
}
.menu-item a{
    color: #ffffff;
    font-family: "Arial";
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
    margin-right: 50px;
}
.menu-item:last-child{
    margin-right: 0;
}
.menu-item a:hover{
    color:black;
}